<%-
  # Copyright © Emilio González Montaña
  # Licence: Attribution-NoDerivatives 4.0 International
  #   * Attribution to the plugin web page URL should be done if you want to use it.
  #     https://redmine.ociotec.com/projects/redmine-plugin-ads
  #   * No derivates of this plugin (or partial) are allowed.
  # Take a look to licence.txt file at plugin root folder for further details.
-%>

<%- if Ads::Setting.patreon_enabled -%>
  <p>
    <%- patreon_ad = Ads::Ad.patreon_ad -%>
    <%- message = patreon_ad[:label].is_a?(Symbol) ? l(patreon_ad[:label]) : patreon_ad[:label] -%>
    <a href="http://www.patreon.com/<%= patreon_ad[:id] %>" target="_blank">
      <%= image_tag('patreon-logo.png', :plugin => 'ads', :title => message, :alt => message) %>
    </a>
  </p>
<%- end -%>

<%- if Ads::Setting.google_adsense_enabled -%>
  <p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <%- google_ad = Ads::Ad.google_ad -%>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="<%= google_ad[:client_id] %>"
         data-ad-slot="<%= google_ad[:id] %>"
         data-ad-format="auto">
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </p>
<%- end -%>
