<%= error_messages_for 'category' %>
<% extend MaterialsHelper %>

<div class="box tabular">
<p><%= f.text_field :name, :required => true, :label => l(:field_material_name), :required => true %></p>
<p><%= f.text_field :code, :label => l(:field_material_category_code) %></p>
<% unless @category.allowed_parents.compact.empty? %>
<p><%= f.select :parent_id, material_category_tree_options_for_select(@category.allowed_parents, :selected => @category.parent), :label => l(:field_material_category_parent_id), :include_blank => true %></p>
<% end %>
</div>

