<h2><%= l(:label_material_cycle_entry) %></h2>

<%= labelled_form_for :material_cycle, @material_cycle, :url => {:action => 'create', :stage => MaterialCycle::STAGE_ENTRY }, :html => { :multipart => true, :id => 'material_cycle_form'} do |f|  %> 
  <%= render :partial => 'form', :locals => {:f => f}  %> 
  <%= submit_tag l(:button_save) -%>
<% end -%>

